<%= render '/shared/errors', obj: @message %>

<%= form_for(message) do |f| %>

  <div class="form-group">
    <%= f.text_area :body, placeholder: "New Message", class: "form-control" %>
  </div>

  <%= f.hidden_field :to_user_id, value: message.to_user_id %>

  <%= f.submit "Send Message!", class: "btn btn-primary" %>

<% end %>