<%= gravatar_for @user, size: 150 %>

<% if @user == @current_user %>
 
  <h2><%= @current_user.username %></h2>
  <% if @current_user.location.present? %>
  <p><%= @current_user.location %></p>
  <% end %>


  <p><%= link_to "Edit Profile", edit_user_path(@current_user.id) %></p>

<% else %>
  
  <h1><%= @user.username %></h1>

  <br />
  <%= link_to conversations_path(sender_id: @current_user.id, recipient_id: @user.id), type: "button", method: :post do %>
    <button class="btn btn-primary"><span class="glyphicon glyphicon-envelop"></span> Send a Message</button>
  <% end %>

<% end %>

<br/><br/>
<p>render @profile facade with each piece coming from app/facades/profile.rb</p>
