<div class="row">
  
  <div class="col-xs-10 col-offset-xs-1">
    <h1>Birth Info</h1>
  </div>

  <div class="col-xs-10 col-offset-xs-1 col-sm-6 col-offset-sm-3">
   <%= render '/shared/errors', obj: @chart %>

    <%= form_for [@user, @chart] do |f| %>

      <div class="form-group">
        <%= f.text_area :body, placeholder: "Birth Place", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_area :body, placeholder: "Birth Place", class: "form-control" %>
      </div>

      <%= f.submit "Send Message!", class: "btn btn-primary" %>

    <% end %>
  </div>

</div>
