<!DOCTYPE html>
<html>
<head>
  <title>Starma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= render 'layouts/topnav' %>
</header>

<% flash.each do |name, msg| %>
	<div><%= msg %></div>

<% end %>

	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<%= yield %>
		</div>
	</div>

</body>
</html>
