<!DOCTYPE html>
<html>
<head>
  <title>Starma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Starma</h1>
		</div>
	</div>
</header>

<% flash.each do |name, msg| %>
	<ul>
		<li><%= msg %></li>
	</ul>

<% end %>
	<div class="row">
		<div class="col-md-6 col-md-offset-2">
			<%= yield %>
		</div>
	</div>

</body>
</html>
