<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div id="email-errors" class="alert alert-danger form-error"></div>

  <br/>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div id="password-errors" class="alert alert-danger form-error"></div>

  <br/>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div id="password-confirmation-errors" class="alert alert-danger form-error"></div>

  <br/>

  <div class="field">
    <%= f.label :username %><br/>
    <%= f.text_field :username, autocomplete: "off", class: "form-control" %>
    
  </div>
  <div id="username-errors" class="alert alert-danger form-error"></div>

  <br/>

  <div class="field">
    <%= f.label :birthday %><br/>
    
    <%= f.date_select :birthday, :start_year=>1900 %>

 </div>
  <div id="birthday-errors" class="alert alert-danger form-error"></div>

  <br/>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

<!--
text_field_tag :birthday_month, "", placeholder: "MM", maxlength: 2, id: "birthday-month", class: "form-control" 
text_field_tag :birthday_day, "", placeholder: "DD", maxlength: 2, id: "birthday-day", class: "form-control" 
text_field_tag :birthday_year, "", placeholder: "YYYY", maxlength: 4, id: "birthday-year", class: "form-control" 
-->